*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
/BankAccountApp/BankAccountApp/nbproject/private/
/BankAccountApp/BankAccountApp/dist/
/BankAccountApp/BankAccountApp/build/
/BankAccountApp/BankAccount2/nbproject/private/
/BankAccountApp/BankAccount2/build/
/BankAccountApp/BankAccount2/dist/
/BankAccount/BankAccount/nbproject/private/
/BankAccount/BankAccount/dist/
/BankAccount/BankAccount/build/
/wk2/BankAccount/nbproject/private/
/wk2/BankAccount/dist/
/wk2/BankAccount/build/
/Wk4-5/BubbleSortTest/nbproject/private/
/Wk4-5/BubbleSortTest/build/
/Wk4-5/FactorialTest/nbproject/private/
/Wk4-5/FactorialTest/build/